body {
	background: #EEEEEE;
}

.logo-image {
	margin-top: 20px;
    max-width: 40%;
    height: auto;
    width: auto\9; /* ie8 */
}
.documents{
	font-size: 2.3em;
}
.tab-container {
	width: 47%;
	display: inline-block;
	margin-right: 2%;
}
.tab-heading {
	text-align: center;
	
}