body {
	background: #EEEEEE;
}

.logo-image {
	margin-top: 20px;
    max-width: 40%;
    height: auto;
    width: auto\9; /* ie8 */
}
.documents{
	font-size: 2.3em;
}
.tab-container {
	width: 40%;
	display: inline-block;;
	margin-right: 3%;
	margin-left: 5%;
}
.tab-heading {
	text-align: center;
	
	
}
@media only screen 
and (min-width : 320px) 
and (max-width : 991px) {
.tab-container {
	width: 100%;
	display: inline-block;
	
}
		