/*
    Groundswell web site CSS
    table free positioning version
    by Bill Weinman
    developed for CSS EssT at lynda.com

    version of 2009-05-28

*/

/* ===== global styles ===== */

body  {
    font-family: "Trebuchet MS", sans-serif;
    background: #bbb url(../images/page_background.jpg);
    margin: 0;  /* shorthand for all margins = 0 */
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6, li {
    margin: 1ex 1em;
}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    text-align: left;
}

td, tr {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

/* ===== outer table ===== */

#outerTable {
    margin: 0 auto; /* shortcut for top & bottom = 0, left & right = auto (center) */
    width: 770px;
    background: url(../images/banner.jpg) no-repeat;
}

#outerTable a:link,
#outerTable a:visited {
    text-decoration: none;
    color: #b36b00;
}
#outerTable a:hover {
    color: #566440;
    border-bottom: 1px dashed #566440;
}

/* ===== contact button ==== */

td#contactButton {
    height: 55px;
}

#contactButton div {
    height: 30px;
    margin: 0 0 0 650px;
    padding: 0;
}

#contactButton img {
    margin: 0;
    border: none;
}

#contactButton a:hover {
    border-bottom: none;
}

/* ===== main menu ===== */

td#mainMenu {
    height: 55px;
    vertical-align: bottom;
}

#mainMenu div {
    height: 30px;
    margin-left: 300px;
    padding: 0;
}

#mainMenu img {
    margin: 0 5px;
    border: none;
}

/* ===== main (left) content ===== */

td#contentLeft {
    background: #fff;
    width: 505px;
}

div#mainContent {
    padding: 0 15px;
    margin: 0;
}

#mainContent p {
    font-family: Georgia, serif;
    font-size: .9em;
    line-height: 1.4em;
    margin-left: 0;
}

#mainContent h1, #mainContent h2, #mainContent h3, #mainContent h4 {
    font-family: "Trebuchet MS", sans-serif;
}

#mainContent h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    color: #1B9D95;
    margin: 0 0 .4em 0;
}

#mainContent h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.2em;
    color: #3C3809;
    margin: 0 0 .4em 0;
}

#mainContent h4 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #666;
    margin: 0 0 -.2em 0;
}

#mainContent ul {
    font-family: Georgia, serif;
    font-size: 0.9em;
    margin-bottom: 1.4em;
}

#mainContent li {
    margin-bottom: .6em;
}

#mainContent p.leftMenu {
    font-family: "Trebuchet MS", sans-serif;
    margin-bottom: 1.5ex;
}

#mainContent p.leftMenu a {
    color: #566440;
}

#mainContent p.leftMenu a:hover {
    color: #b36b00;
    border: none;
}

/* ====== gearDesc ===== */

td#gearLeftImage {
    padding: 25px;
}

td#gearDesc {
    width: 290px;
}

td#gearDesc h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
    color: #C47500;
    border-bottom: 1px solid #344;
    padding-bottom: 0.2em;
    margin-left: 0;
}

td#gearDesc p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: .8em;
}

td#gearDesc p.price {
    text-align: right;
    font-size: 1.2em;
}

/* ====== sidebar (right column) content ====== */

td#contentRight {
    background: #fff;
    width: 265px;
}

div#sideBar {
    border-left: 1px solid #999;
    padding: 0 10px;
}

#contentRight p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #666;
    margin: 0 0 3ex 0;
}

#contentRight h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #1B9D95;
    text-align: left;
    margin: 1ex 0 .5ex 0;
}

#contentRight img {
    margin: 0 25px;
}

#contentRight img.photo {
    padding: 5px;
    border: 1px solid #999;
}

#contentRight ol {
    margin: .5em 0 1.5em 1em ;
}

#contentRight li {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    color: #666;
    margin: .2em .5em;
}

/* ===== footer ===== */

#footer {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.75em;
    color: #fff;
    text-align: center;
}
#footer a {
    color: #1B9D95;
    text-decoration: none;
}

/* ===== miscellaneous ===== */

div#youtubeVideo {
    margin: 20px 0 20px 30px;
}


