
@media only screen and (min-width: 1000px) {
body {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
div {
	margin-bottom: 10px;
}
.container_12 {
}
a {
	text-decoration: none;
	color: #007edf;
	text-shadow: none;
	transition: color 0.5s ease;
	transition: text-shadow 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: color 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: color 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: color 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
}
a:hover, a:focus {
	text-decoration: underline;
}
p {
	font-family: Cantarell;
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: justify;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 1.3em;
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.5s; /* Firefox < 16 */
	-ms-animation: fadein 1.5s; /* Internet Explorer */
	-o-animation: fadein 1.5s; /* Opera < 12.1 */
	animation: fadein 1.5s;
}
h1 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: center;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 3.1em;
	-webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.3s; /* Firefox < 16 */
	-ms-animation: fadein 1.3s; /* Internet Explorer */
	-o-animation: fadein 1.3s; /* Opera < 12.1 */
	animation: fadein 1.3s;
}
h2 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: center;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 2.1em;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
h3 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 1.5em;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
img {
	-webkit-animation: fadein 2.1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2.1s; /* Firefox < 16 */
	-ms-animation: fadein 2.1s; /* Internet Explorer */
	-o-animation: fadein 2.1s; /* Opera < 12.1 */
	animation: fadein 2.1s;
}
hr {
	height: 1px;
	margin-bottom: 5px;
	border: none;
	background: url('../images/bg_hr.png') repeat-x center;
}
 @keyframes fadein {
 from {
opacity: 0;
}
 to {
opacity: 1;
}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from {
opacity: 0;
}
 to {
opacity: 1;
}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from {
opacity: 0;
}
 to {
opacity: 1;
}
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from {
opacity: 0;
}
 to {
opacity: 1;
}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
 from {
opacity: 0;
}
 to {
opacity: 1;
}
}
}

@media only screen and (min-width: 551px) and (max-width: 999px) {
body {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
div {
	padding-bottom: 50px;
	text-align: center;
}
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 551px;
}
p {
	font-family: Cantarell;
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: justify;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 1.3em;
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.5s; /* Firefox < 16 */
	-ms-animation: fadein 1.5s; /* Internet Explorer */
	-o-animation: fadein 1.5s; /* Opera < 12.1 */
	animation: fadein 1.5s;
}
h1 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: center;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 3.1em;
	-webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.3s; /* Firefox < 16 */
	-ms-animation: fadein 1.3s; /* Internet Explorer */
	-o-animation: fadein 1.3s; /* Opera < 12.1 */
	animation: fadein 1.3s;
}
h2 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: center;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 2.1em;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
h3 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 1.5em;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
img {
	-webkit-animation: fadein 2.1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2.1s; /* Firefox < 16 */
	-ms-animation: fadein 2.1s; /* Internet Explorer */
	-o-animation: fadein 2.1s; /* Opera < 12.1 */
	animation: fadein 2.1s;
}
hr {
	height: 1px;
	margin-bottom: 5px;
	border: none;
	background: url('../images/bg_hr.png') repeat-x center;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}
}

@media only screen and (min-width: 0px) and (max-width: 550px) {body {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
div {
	padding-bottom: 50px;
	text-align: center;
}
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}
p {
	font-family: Cantarell;
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: justify;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 1.3em;
	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.5s; /* Firefox < 16 */
	-ms-animation: fadein 1.5s; /* Internet Explorer */
	-o-animation: fadein 1.5s; /* Opera < 12.1 */
	animation: fadein 1.5s;
}
h1 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: center;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 3.1em;
	-webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.3s; /* Firefox < 16 */
	-ms-animation: fadein 1.3s; /* Internet Explorer */
	-o-animation: fadein 1.3s; /* Opera < 12.1 */
	animation: fadein 1.3s;
}
h2 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: center;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 2.1em;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
h3 {
	font-family: 'Lucida Grande';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.5em;
	font-size: 1.5em;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}
img {
	-webkit-animation: fadein 2.1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2.1s; /* Firefox < 16 */
	-ms-animation: fadein 2.1s; /* Internet Explorer */
	-o-animation: fadein 2.1s; /* Opera < 12.1 */
	animation: fadein 2.1s;
}
hr {
	height: 1px;
	margin-bottom: 5px;
	border: none;
	background: url('../images/bg_hr.png') repeat-x center;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	width: 400px;
}
}