body {

	background: url("../img/landing_castle.jpg") no-repeat fixed center center;
	background-size: cover;
	
}
h1 {
	color: #FFFFFF;
	font-family: "Trebuchet MS";
	font-feature-settings: "'liga' 1";
	font-kerning: auto;
	font-style: normal;
	font-size: 3em;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	word-spacing: 0;

}
.interact {
	margin-top: 15%;
	text-align: center;

}
#tourbutton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	padding:19px 72px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	
	
}
#tourbutton:hover {
	background-color:#5cbf2a;
}
#tourbutton:active {
	position:relative;
	top:1px;
}
